a:active {
    color: #00bf92;
    background-color: transparent;
}

li:active {
    color: #00bf92;
    background-color: transparent;
}

ul:active {
    color: #00bf92;
    background-color: transparent;
}