.green-color {
    background-color: #00bf92;
    color: white;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
  
.oscuro{ 
  background-color: #1f1f1f; 
  color: #f1eded; 
}
 
.claro{ 
  background-color: #ffffff; 
  color: #000000; 
} 

.dropdown-item:hover{
  background-color: inherit;
}

.error {
  color: red;
  text-align: center;
}

.checked {
  color: orange;
}

body {
  /* padding: 25px; */
  background-color: white;
  color: black;
  /* font-size: 25px; */
}

.dark-mode {
  background-color: black;
  color: white;
}

#profile-card{
  background-color:#1f1f1f;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#footer-align{
  text-align: right;
}