<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/login.css'}">

<div class="login-page">
  <div class="form">
   #{if flash.error} <div class="error">${flash.error} </div>#{/if}
    <form class="login-form" action="@{Login.login}" >
      <input type="text" placeholder="username" name="username"/> 
      <input type="password" placeholder="password" name="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="/users/form">Create an account</a></p>
    </form>
  </div>
</div>