#{extends 'main.html' /}
#{set title:'Home' /}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">

<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/adverts">My adverts</a>
  <a href="#contact">My books</a>
  <a href="#contact">Contact</a>
  <a href="#contact">About us</a>
  <a href="/login">Login</a>
</div>

<form action="@{Adverts.list}">
    <input name="filter">
    <button>Search</button>
</form>
#{list items:adverts, as:'a'}
    ${a.description} - ${a.address} - ${a.published} - ${a.price} - ${a.user.name}
    <br/>
#{/list}