#{extends 'main.html' /}
#{set title:'Home' /}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
<body>
<div class="topnav">
  <a class="active" href="/home">Home</a>
  #{if session.get("user.username") != null}<a href="@{Adverts.listByUser}">My adverts</a>#{/if} 
  #{if session.get("user.username") != null}<a href="@{Books.listByUser}">My books</a>#{/if} 
  <a href="#contact">Contact</a>
  <a href="#contact">About us</a>
  #{if session.get("user.username") == null} <a href="/login">Login</a> #{/if} 
  #{if session.get("user.username") != null} <a href="@{Login.logout}">Logout</a> #{/if} 
</div>

  <form class="float-right" action="@{Adverts.list}">
    	<input name="filter">
    	<button>Search</button>
    </form>

#{list items:adverts, as:'a'}
<div class="container">
  <ul class="list-group list-group-flush">
  	<label>Anuncio:</label>
    <li class="list-group-item">Descripcion: ${a.description}</li>
    <li class="list-group-item">Direccion: ${a.address}</li>
    <li class="list-group-item">Publicado: ${a.published}</li>
    <li class="list-group-item">Precio: ${a.price}</li>
    <li class="list-group-item">Usuario de la reserva: ${a.user.name}</li>
  </ul>
</div>
#{/list}

</body>
</html>
